#btn{
    color: yellow;
    background-color: #283593; width: 30%; float: right;
}
#btn1{
    color: yellow;background-color: #283593; width: 30%;
}
#btn1:hover,#btn:hover{
    background-color: white;
    color:black;
}
#contain{
    background-color: #283593; padding:20px;  box-shadow: 0px 10px 18px #888888;
    border-radius: 5px;}
.row input{
    height: 45px;
  }
center{
    color: yellow;
}
